/*
	BannerBar v1.0
	Author: Mike Foster, www.ninearmoctopus.com;
	Thanks to Bogdan Rosu, http://www.flaticon.com/packs/glypho for providing the icon set. You can find the whole package at:
	http://www.flaticon.com/packs/glypho under the Creative Commons by 3.0
*/
/* 
	All the banner components need to live inside a .banner-parent to make sure that it sticks to the left side of the page.
*/
.banner-parent {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}
.banner-item {
margin-bottom: 50%;
	color: black; /* Change this to make the icons(if SVG) and text a different color */
}
.banner-item p {
	margin: 0px;
}
.banner-item span {
	height: 32px;
	width: 32px;
}
.banner-sub-item {
	height: 32px;
	width: 32px;
}
/*
	.banner-base is where you can make adjustments to the color and size of the menu bar.
*/
.banner-base {
	background-color: #eeeeee;
	width: 8%;
	height: 100%;
	padding-top: 2%;
	padding-bottom: 2%;
	position: fixed;
	text-align: center;
}
.banner {
	background-color: #eeeeee;
	float: left;
	display: none;
	position: absolute;
	width: 100%;
	height: 18%;
	z-index: 3;
	-webkit-transition: width 1s;
	-webkit-transition-timing-function: linear;
	transition: width 1s;
	transition-timing-function: linear;
}
.banner-item:hover .banner {
	display: block;
	position: fixed;
	width: 100%;
}
.banner:hover {
	display: block;
	position: fixed;
	width: 100%;
}
.user {
	background-image: url("icons/user7.svg");
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: center;
}
.home {
	background-image: url("icons/house180.svg");
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: center;
}
.phone {
	background-image: url("icons/telephone120.svg");
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: center;
}
.chat {
	background-image: url("icons/chat118.svg");
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: center;
}
.cart {
	background-image: url("icons/shopping-cart7.svg");
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: center;
}
.share {
	background-image: url("icons/share46.svg");
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: center;
}
.settings {
	background-image: url("icons/nut4.svg");
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: center;
}
.facebook-ico {
	background-image: url("icons/facebook2.svg");
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: center;
}
.twitter-ico {
	background-image: url("icons/twitter.svg");
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: center;
}
.linkedin-ico {
	background-image: url("icons/linkedin.svg");
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: center;
}
.googleplus-ico {
	background-image: url("icons/google-plus.svg");
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: center;
}
.instagram-ico {
	background-image: url("icons/instagram19.svg");
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: center;
}
.tumblr-ico {
	background-image: url("icons/tumblr1.svg");
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: center;
}