/*
	BannerBar v1.0
	Author: Mike Foster, www.ninearmoctopus.com;
	Thanks to Bogdan Rosu, http://www.flaticon.com/packs/glypho for providing the icon set. You can find the whole package at:
	http://www.flaticon.com/packs/glypho under the Creative Commons by 3.0
*/
/* 
	All the banner components need to live inside a .banner-parent to make sure that it sticks to the left side of the page.
*/
.banner-parent {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}
.banner-item {
	padding-top: 25%;
	padding-bottom: 25%;
	color: black; /* Change this to make the icons(if SVG) and text a different color */
}
.banner-item p {
	margin: 0px;
}
.banner-item span {
	height: 32px;
	width: 32px;
}
.banner-item a {
	text-decoration: none;
	color: black;
}
.banner-sub-item {
	display: inline-block;
	margin: 3%;
}
.banner-sub-item span {
	height: 32px;
	width: 32px;
}
/*
	.banner-base is where you can make adjustments to the color and size of the menu bar.
*/
.banner-base {
	background-color: #348DFF;
	width: 8%;
	height: 100%;
	padding-top: 2%;
	padding-bottom: 2%;
	
	text-align: center;
	border: none;
}
.banner {
	background-color: #348DFF;
	float: left;
	display: block;
	position: absolute;
	margin-left: 8%;
	width: 0px;
	height: auto;
	overflow: auto;
	z-index: 2147483647; /* If it's stupid but it works... TODO make this more elegant */
	border: none;
	-webkit-transition: width 0.25s;
	-webkit-transition-timing-function: linear;
	transition: width 0.25s;
	transition-timing-function: linear;
}
.banner * {
	display: none;
}
.banner .banner-sub-item {
	float: left;
}
.banner-item:hover .banner {
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
}
.banner:hover {
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
}
.banner:hover .banner * {
	display: inline-block;
}
.banner-item:hover .banner * {
	display:inline-block;
}
.banner-item:hover {
	background-color: #246EC7;
}
.content {
	margin-left: 8%;
	position: relative;
}
.user {
	background-image: url("icons/user7.svg");
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: center;
	color: yellow;
}
.home {
	background-image: url("icons/house180.svg");
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: center;
}
.phone {
	background-image: url("icons/telephone120.svg");
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: center;
}
.chat {
	background-image: url("icons/chat118.svg");
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: center;
}
.cart {
	background-image: url("icons/shopping-cart7.svg");
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: center;
}
.share {
	background-image: url("icons/share46.svg");
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: center;
}
.settings {
	background-image: url("icons/nut4.svg");
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: center;
}
.bell {
	background-image: url("icons/bell70.svg");
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: center;
}
.inbox {
	background-image: url("icons/inbox39.svg");
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: center;
}
.star {
	background-image: url("icons/star207.svg");
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: center;
}
.truck {
	background-image: url("icons/truck69.svg");
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: center;
}
.facebook-ico {
	background-image: url("icons/facebook2.svg");
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: center;
}
.twitter-ico {
	background-image: url("icons/twitter.svg");
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: center;
}
.linkedin-ico {
	background-image: url("icons/linkedin.svg");
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: center;
}
.youtube-ico {
	background-image: url("icons/video-player.svg");
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: center;
}
.googleplus-ico {
	background-image: url("icons/google-plus.svg");
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: center;
}
.instagram-ico {
	background-image: url("icons/instagram19.svg");
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: center;
}
.tumblr-ico {
	background-image: url("icons/tumblr1.svg");
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: center;
}

@media screen and (max-device-width: 414px) {
	.banner {
		height: 10%;
		padding: 2%;
		margin-left: 12%;
	}
	.banner:hover {
		width: 90%;
	}
	.banner-base {
		width: 12%;
	}
	.banner-icon {
		height: 48px;
		width: 48px;
	}
	.banner-item {
		padding-bottom: 25%;
		padding-top: 25%;
		margin-bottom: 100%;
	}
	.banner-item p {
		font-size: 1.7em;
	}
	.banner-item span {
		height: 48px;
		width: 48px;
	}
	.banner-item:hover .banner {
		width: 90%;
	}
	.banner-sub-item {
		margin: 3%;
		padding: 1%;
		word-wrap: break-word;
	}
	.banner-sub-item span {
		height: 48px;
		width: 48px;
	}
	.content {
		margin-left: 12%;
	}
	
}
@media screen and (max-device-width: 360px) {
	.banner-item p {
		font-size: 2em;
	}
}